<div id="logo" class="my-4 px-6">
  <h1 class="text-lg md:text-2xl font-bold text-white">{{envs.companyName}}</h1>
  <p class="text-slate-500 text-sm">{{envs.companySlogan}}</p>
</div>
<div id="profile" class="px-6 py-10">
  <p class="text-slate-500">Bienvenido,</p>
  <a href="#" class="inline-flex space-x-2 items-center">
                <span>
                    <img class="rounded-full w-8 h-8" src="https://media1.giphy.com/media/v1.Y2lkPTQ5ZmQyMmRlZ2s4dWNwaGdndm5pdjBpbGx3MXQyZ3BrYmJjamRkeGhrMzdxOWYxYiZlcD12MV9naWZzX3RyZW5kaW5nJmN0PWc/cYZkY9HeKgofpQnOUl/giphy.gif" alt="">
                </span>
    <span class="text-sm md:text-base font-bold">
                    Powered by &#64;Giphy
                </span>
  </a>
</div>

